/* ==========
 LOCATION SCREEN - LAYOUT
 ========== */
.grid-row-1 {
  margin-bottom: 2rem;
}

a.back-btn {
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  color: rgb(40, 39, 39);
  text-decoration: none;
}

.back-btn__icon {
  margin-right: 0.25rem;
}

/* ==========
 LOCATIONSCREEN__DETAILS COMPONENT
 ========== */
.locationscreen__details {
  margin-bottom: 2rem;
}

.locationscreen__details h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.locationscreen__details img {
  width: 100%;
  margin-bottom: 0.5rem;
}

.locationscreen__details__county {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

/* ==========
 PUBLIC-INFO UL COMPONENT
 ========== */
ul.public-info {
  list-style-type: none;
  padding: 2rem;
  background: lightblue;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul.public-info li {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  color: #fff;
}

.public-info__icon {
  margin-right: 1rem;
}

ul.public-info li span {
  display: inline-block;
  margin-left: auto;
}

.public-info__check-icon {
  color: green;
}

.public-info__times-icon {
  color: red;
}

/* ==========
REVIEWS 
=========== */
.reviews__section h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.reviews-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.review {
  border-bottom: 1px solid lightgray;
}

.review__data {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.review__profile-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 1rem;
}

.review__user {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 0.25rem;
}

.review__createdAt {
  font-size: 14px;
}

.review__comment {
  margin-bottom: 1rem;
}

.delete-review-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: red;
  text-transform: uppercase;
  font-weight: 700;
  width: 128px;
  border: none;
  background: none;
  outline: none;
  margin-bottom: 1rem;
}

/* ===== REVIEW FORM ===== */
ul.review-form__checkboxes {
  flex-direction: row;
  flex-wrap: wrap;
}

.submit-review-btn {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  padding: 0.6875rem 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.review-form small {
  font-size: 1rem;
}

.review-form small a {
  text-decoration: none;
  font-weight: 700;
  color: darkgreen;
}

/* ==============================
 MEDIA QUERIES
 ============================== */
@media (min-width: 48rem) {
  /* ==========
  LOCATION SCREEN - LAYOUT
  ========== */
  .grid-row-1 {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    gap: 10%;
    margin-bottom: 4rem;
  }

  /* ==========
  LOCATIONSCREEN__DETAILS COMPONENT
  ========== */
  .locationscreen__details {
    margin-bottom: 2rem;
  }

  /* ==========
  REVIEWS 
  =========== */
  .reviews__section {
    margin: 0 auto 4rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 60% 40%);
  }

  .reviews-container {
    gap: 2rem;
  }

  .reviews-container h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }

  .review__data {
    margin-bottom: 1.5rem;
  }

  .review__profile-img {
    width: 80px;
    height: 80px;
    margin-right: 2rem;
  }

  .review__user {
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
  }

  .review__createdAt {
    font-size: 1rem;
  }

  .review__comment {
    margin-bottom: 1.5rem;
  }

  .delete-review-btn {
    margin-bottom: 1.5rem;
  }

  /* ===== REVIEW FORM ===== */
}

@media (min-width: 90rem) {
  /* ==========
  LOCATIONSCREEN__DETAILS COMPONENT
  ========== */
  .locationscreen__details h1 {
    font-size: 3rem;
  }

  .locationscreen__details img {
    margin-bottom: 1rem;
  }

  .locationscreen__details__county {
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .locationscreen__details__description {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  /* ==========
   PUBLIC-INFO UL COMPONENT
   ========== */
  ul.public-info {
    list-style-type: none;
    padding: 2rem 3rem;
    gap: 1.5rem;
  }

  ul.public-info li {
    font-size: 1.5rem;
  }

  .public-info__icon {
    margin-right: 1.5rem;
  }
}

/* ==========
REVIEW COMPONENT
=========== */
