header {
  width: 87.2%;
  padding: 2rem 0;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li a {
  color: darkgreen;
  text-decoration: none;
  font-size: 1.125rem;
}

@media (min-width: 48rem) {
  nav ul {
    width: 50%;
    margin-left: auto;
  }

  nav ul li a {
    color: darkgreen;
    text-decoration: none;
    font-size: 1.25rem;
  }

  nav ul li a.active {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}
