/* ===== SRC/LAYOUT ===== */
@import "./components/Layout/styles.css";

/* ===== SRC/SCREENS =====  */
@import "./Screens/HomeScreen/styles.css";
@import "./Screens/LocationScreen/styles.css";
@import "./Screens/DashboardScreen/styles.css";
@import "./Screens/AuthScreens/styles.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(247, 251, 247);
}

img {
  display: block;
  max-width: 100%;
}

/* ==========
 SCREENS
 ========== */

.screen {
  width: 87.2%;
  margin: 0 auto;
  padding-top: 2rem;
}

/* ==========
 SHARED COMPONENTS
 ========== */

/* ===== LOCATION CARD ===== */
.location-card {
  box-shadow: 0px 25px 40px -15px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  position: relative;
  background: #fff;
}

.location-card::after {
  content: "";
  width: 100%;
  height: 5px;
  background: darkgreen;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 5px 5px;
}

.location-card__img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.location-card__text-content {
  padding: 1rem;
}

.location-card__name {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: darkgreen;
  text-decoration: underline;
}

.location-card__county {
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  margin-bottom: 1rem;
}

.location-card__flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.location-card__btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.location-card__btn.remove-favourite-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.125rem;
  color: red;
  width: 10.3125rem;
}

.location-card__btn.add-favourite-btn {
  font-size: 1.125rem;
  color: red;
}

.rating {
  display: flex;
  align-items: center;
  color: #f8e825;
  margin-bottom: 1rem;
}

/* ===== MAP ===== */
.map-container {
  height: 400px;
}

.map-sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 0.375rem 0.75rem;
  font-family: monospace;
  z-index: 1;
  text-align: center;
  margin: 0.75rem;
  border-radius: 4px;
}

/* ===== FORMS ===== */
form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 0.5rem;
  font-weight: 700;
  letter-spacing: 0.5px;
}

form input,
form textarea {
  padding: 0.6875rem 1rem;
  border: 1px solid gray;
  border-radius: 5px;
  outline: none;
  margin-bottom: 1.5rem;
}

form textarea {
  resize: none;
  height: 150px;
}

form ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

form ul li {
  display: flex;
  align-items: center;
}

form ul li label {
  margin-bottom: 0;
}

form input[type="checkbox"] {
  margin: 0 0 0 1rem;
}

.loader {
  display: block;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid darkgreen;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 0 auto 2rem;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ==============================
 MEDIA QUERIES
 ============================== */
@media (min-width: 48rem) {
  /* ==========
  SCREENS
  ========== */

  .screen {
    width: 89.7135416667%;
    margin: 0 auto;
  }

  /* ==========
  SHARED COMPONENTS
  ========== */

  /* ===== LOCATION CARD ===== */
  .location-card__text-content {
    padding: 2rem;
  }
}

@media (min-width: 90rem) {
  button {
    cursor: pointer;
  }
  /* ==========
  SCREENS
  ========== */

  .screen {
    width: 77.0833333333%;
    margin: 0 auto;
  }
}
